.container{
  background-color: #062134;
  padding:15px;
  width: 870px;
  height: 1150px;
}
.top{
  display: inline-block;
  width:870px;
  height:1000px;
  background-color: #062134;
  padding:px;
}
.top ul h4{
  display:inline-block;
  margin-right: 45px;
  color: white;
  font-weight: normal;
}
.top h1{
  display: inline-block;
  margin-right:100px;
  font-weight: lighter;
  position: relative;
  right: 30px;

}
.top span{
  color: white;
}
.main{
  vertical-align: top;
  /*position: relative;*/
  /*bottom: px;*/
}
.maincontainer{
  width:850px;
  height:1000px;
  background-color: white;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.main{
  display: inline-block;
  width: 890px;
  height:600px;
  /*background-color: blue;*/
  /*padding: 15px;*/
}
.main img{
  position: relative;
  display: inline-block;
  /*left:50px;*/
  /*width:800px;*/
  /*height:300px;*/
}
.title {
  color: black;
}
.infobox{
  width:253px;
  height:200px;
  display: inline-block;
  background-color: #1468a8;
  margin-right: 15px;
  position: relative;
  padding: 8px 8px 8px 8px;
  margin-top: 15px;
  /*right: 40px;*/
  vertical-align: top;
}
.infobox img{
  width:30px;
  height:30px;
}
.infobox h4{
  display:inline-block;
  position: relative;
  color: white;
  font-weight:lighter;
  bottom: 10px;
}
.infobox p{
  font-size: 12px;
  text-align: left;
  color: white;
  font-weight: lighter;
  /*position: relative;*/
}
.infobox button{
  position: relative;
  top:25px;
  left:80px;
  border-radius: 3px;
  width:100px;
  height:30px;
  background: #1990db;
}
.bottom{
  display:inline-block;
  width: 860px;
  height:320px;
  /*background-color: grey;*/
}
.bottom h2{
  font-weight: lighter;
  display: inline-block;
}
.bottom span{
  margin-left: 270px;
  font-weight: lighter;
  display: inline-block;
}
.bottom img{
display: inline-block;
position: relative;
top:10px;
margin-right: 20px;
}
.bottom p{
  width: 250px;
  height:150px;
  /*background-color: ;*/
  display: inline-block;
  vertical-align: top;
  position: relative;
  bottom:5px;
}
.bottom ul {
  width:235px;
  height: 110px;
  background-color: #daedff;
  display: inline-block;
  vertical-align: top;
  position: relative;
  bottom: 5px;
  left:20px;
  padding: 20px 20px 20px 20px;
  text-align: center
}
.sam p{
  width:265px;
  height:20px;
  /*background-color: #daedff;*/
  display: inline-block;
  position:relative;
  left:580px;
  bottom: 20px;
}

.footer{
  display: inline-block;
  width:860px;
  height:80px;
  background-color:#daedff;
  text-align: center;
  border-top: solid black 2px;
}
.footer ul{
  display: inline-block;
  margin-right: 30px;
  position: relative;
  top: 10px;
}
